@use "base" as *;
@use "components" as *;

:root {
  --velocity: 100ms ease-in;
  @media (prefers-reduced-motion) {
    --velocity: linear;
  }
}

.app {
  margin: 20px;
}

.main-video {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.card {
  display: block;
  aspect-ratio: 16/8;
  object-fit: cover;
  border-radius: 8px;
}

.genre-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  grid-template-rows: 150px;
  gap: 1rem;
}

.genre-feed__card a {
  width: fit-content;
}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.video-image__info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
}
.video-image__button {
  position: absolute;
}

.info-footer {
  height: 100vh;
}
