@use "base" as *;
@use "components" as *;

.app {
  display: grid;
  grid-template-columns: Min(5vmin, 20px) 1fr Min(5vmin, 20px);
  gap: 3ch;
  & > * { grid-column: 2; }
}

.full-bleed { grid-column: 1 / -1; }

.main-video {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.card {
  display: block;
  aspect-ratio: 16/8;
  object-fit: cover;
  border-radius: 8px;
}

.genre-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  grid-template-rows: 150px;
  gap: 1rem;
}

.genre-feed__card a {
  width: fit-content;
}

.video-image {
  width: 100%;
  position: absolute;
  top: 0;
}

.video-image__info {
  position: relative;
  margin-top: 30%;
  margin-left: 50px;
  max-width: 50%;
}
.video-image__button {
  position: absolute;
}

.info-footer {
  height: 100vh;
}
